* {
  font-family: 'EB Garamond', serif;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -100;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.overlay{
  background: rgba(90,5,5,0.6);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: -99;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: normal;
  color: #ddd;
  margin: 0;
}

h1 {
  margin-top: 140px;
  font-size: 90px;
}

h2 {
  font-size: 90px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.ghost-button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  height: 3em;
  width: 44.5%;
  font-size: 1.5em;
  margin: 2.5%;
  max-width: 800px;
  font-weight: bold;
}

.ghost-button:hover,
.ghost-button:active {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 80%;
}
